[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
flask-bcrypt = "*"
google-cloud-vision = "*"
google-cloud = "*"
google-auth = "*"
beautifulsoup4 = "*"
pydrive = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
